<table class="table">
<thead>
    <tr>
        <th></th>
        <th>ID</th>
        <th></th>
        <th>Name</th>
        <th>Type</th>
        <th>Source</th>
    </tr>
</thead>
<tbody>
{{#each trackSorted as |track|}}
    {{track-listing track=track collected=track.isCollected trackid=track.id action='changePlayingTrack'}}
{{/each}}
</tbody>
</table>

{{yield}}
