@import "bootstrap";
@import "bootstrap/theme";

.header{
    text-align: center;
}
td{

}

.footer{
    width:100%;
    text-align: center;
}



.collected{
    background: green;
    color: white;

    button{
        color: initial;
    }
}
