<div class="container">
    <h1 class="header">Orchestrion Music Tracker</h1>

    <div class="table-responsive">
        {{outlet}}
    </div>

    <div class="footer">Infomation supplied by <a href="https://www.reddit.com/user/Shini-tan">/u/Shini-tan</a></div>
</div>
